<% provide(:title, "Home") %>


<!-- .header-content -->
<section id="header-content">

    <!-- .container -->
    <div class="container">

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6 col-md-7 col-lg-6">
              <div class="header-text">
                    <div class="header-heading-title">
                        <h4>Já pensou em ter a melhor consultoria em marketing.</h4>
                        <h1>Tudo nas suas mãos!</h1>
                    </div>
                    <p>A PopContent oferece consultoria gratuita em marketing digital
                    pelo WhatsApp. Não perca tempo se cadastre e fale com nossos consultores</p>
                    <div class="btn-section">
                        <a href="#pricing" class="btn-custom smooth-scroll">Planos & Preços</a>
                        <a href="page.html" class="btn-link">Saiba mais</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-5 col-lg-offset-1">
                <div class="header-form-wrapper">
                    <div class="header-form-heading">
                        <h4><i class="fa fa-pencil"></i> Get in Touch</h4>
                        <p>Please complete the form & we will get back to you ASAP!</p>
                    </div>
                    <form method="post" action="#" class="header-form affa-form-signup">
                      <div class="submit-status"></div> <!-- submit status -->
                        <input type="text" name="lead[name]" id="lead_name" placeholder="Full Name" />
                        <input type="text" name="lead[email]" id="lead_email" placeholder="Email Address *" />
                        <input type="submit" name="submit" value="Sign-up Now!" class="btn-medium" />
                        <p class="text-desc"><a href="#">Privacy Policy</a> &nbsp;-&nbsp; <a href="#">Terms & Conditions</a></p>
                    </form>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</section>
<!-- .header-content end -->

<!-- #e-book -->
<section id="e-book" class="bg-grey padding-top60 no-border-top">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
          <h2>Como bombar suas vendas usando Marketing Simplificado</h2>
            <p>Saiba finalmente o real conceito de marketing!</p>
        </div>

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6 col-md-5 margin-bottom40">
              <figure><img src="/assets/content/landing/pop-content-ebook.png" alt="Image"></figure>
            </div>

            <div class="col-sm-6 col-md-7 col-lg-6 col-lg-offset-1 margin-bottom40">
              <div class="col-text60">
                  <div class="post-heading-left">
                      <h2><strong>Ótimo suporte.</strong> Nós te ajudamos!</h2>
                        <p>O nosso serviço ao cliente não vai deixá-lo sozinho</p>
                    </div>
                    <p>Nosso time de consultores é formado por experts nas áreas
                    de Marketing de Conteúdo, Automação de Marketing e Inbound Marketing.
                    Este e-book é um material rico no auxílio no aumento sa geração
                    de leads e mais.</p>
                    <div class="list-icon no-margin-bottom">
                        <ul>
                            <li><i class="fa fa-check-square-o"></i> Iniciar sua atuação em Marketing de Conteúdo.</li>
                            <li><i class="fa fa-check-square-o"></i> Produção de conteúdo para blogs</li>
                            <li><i class="fa fa-check-square-o"></i> Produção de e-books e de materiais ricos</li>
                            <li><i class="fa fa-check-square-o"></i> Consultoria em Marketing de Conteúdo</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- .row end -->

        <!-- .row -->
        <div class="row">

            <div class="col-md-6 col-lg-5 margin-bottom20">
              <div class="col-text40">
                  <div class="post-heading-left top-heading-desc margin-bottom20">
                        <p>acilitando a vida do empreendedor</p>
                        <h2>Consultoria <strong>gratuita</strong> em Marketing Digital</h2>
                    </div>
                    <p>Com o objetivo de facilitar a vida dos empreendedores
                    oferecemos consultoria gratuita pelo WhatsApp.</p>
                    <div class="row">
                      <div class="col-sm-6">
                          <div class="affa_col_text">
                                <h4>É fácil!</h4>
                                <p>Cadastre-se no site e nós enviaremos o número para que
                                quando você estiver disponível entre em contato conosco.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="affa_col_text">
                                <h4>É grátis!</h4>
                                <p>Quando um especialista conduz uma estratégia,
                                em qualquer que seja a área, a chance de sucesso
                                é muito maior, não é verdade?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                          <div class="affa_col_text">
                                <h4>Sucesso garantido</h4>
                                <p>Clientes que contratam a consultoria em Marketing
                                de Conteúdo têm, em média, 33% mais sucesso do que os demais.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="affa_col_text">
                                <h4>Os melhores</h4>
                                <p>Nosso time de consultores é formado por experts
                                nas áreas de Marketing de Conteúdo, Automação de
                                Marketing e Inbound Marketing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-0 col-lg-offset-1">
                <figure id="whats-app"><img src="/assets/content/landing/Whatsapp-logo-vector.svg" alt="Image"></figure>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</section>
<!-- #e-book end -->

<!-- #features -->
<section id="features" class="wrap-container6020">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
          <h2>Some of the awesome features of our product</h2>
            <p>You will be amazed to get this product with awesome features</p>
        </div>

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6"> <!-- 1 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/feature/Computer.png" alt="Icon" />
                    <h4>Responsive Display Support</h4>
                    <p>Aenean dictum pharetra nibh, sodales luctus felis aliquet vulputate venenatis orci, a laoreet libero vehicula duis tempor rhoncus quam, occaecat cupidatat non proident est laborum.</p>
                </div>
            </div>

            <div class="col-sm-6"> <!-- 2 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/feature/Address_Book.png" alt="Icon" />
                    <h4>Forwarding E-mail Accounts</h4>
                    <p>Aenean dictum pharetra nibh, sodales luctus felis aliquet vulputate venenatis orci, a laoreet libero vehicula duis tempor rhoncus quam, occaecat cupidatat non proident est laborum.</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6"> <!-- 3 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/feature/Template.png" alt="Icon" />
                    <h4>E-Commerce Features</h4>
                    <p>Aenean dictum pharetra nibh, sodales luctus felis aliquet vulputate venenatis orci, a laoreet libero vehicula duis tempor rhoncus quam, occaecat cupidatat non proident est laborum.</p>
                </div>
            </div>

            <div class="col-sm-6"> <!-- 4 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/feature/Paste.png" alt="Icon" />
                    <h4>Unlimited Domain Hosting</h4>
                    <p>Aenean dictum pharetra nibh, sodales luctus felis aliquet vulputate venenatis orci, a laoreet libero vehicula duis tempor rhoncus quam, occaecat cupidatat non proident est laborum.</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6"> <!-- 5 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/feature/Web.png" alt="Icon" />
                    <h4>World Class Technology</h4>
                    <p>Aenean dictum pharetra nibh, sodales luctus felis aliquet vulputate venenatis orci, a laoreet libero vehicula duis tempor rhoncus quam, occaecat cupidatat non proident est laborum.</p>
                </div>
            </div>

            <div class="col-sm-6"> <!-- 6 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/feature/Box.png" alt="Icon" />
                    <h4>Free Website Scripts</h4>
                    <p>Aenean dictum pharetra nibh, sodales luctus felis aliquet vulputate venenatis orci, a laoreet libero vehicula duis tempor rhoncus quam, occaecat cupidatat non proident est laborum.</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6"> <!-- 7 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/feature/Database.png" alt="Icon" />
                    <h4>CGI/Database Integration</h4>
                    <p>Aenean dictum pharetra nibh, sodales luctus felis aliquet vulputate venenatis orci, a laoreet libero vehicula duis tempor rhoncus quam, occaecat cupidatat non proident est laborum.</p>
                </div>
            </div>

            <div class="col-sm-6"> <!-- 8 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/feature/Calender.png" alt="Icon" />
                    <h4>99.9% Uptime Guarantee</h4>
                    <p>Aenean dictum pharetra nibh, sodales luctus felis aliquet vulputate venenatis orci, a laoreet libero vehicula duis tempor rhoncus quam, occaecat cupidatat non proident est laborum.</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</section>
<!-- #features end -->

<!-- #counter -->
<div id="counter" class="bg-grey wrap-container6020">

    <!-- .container -->
    <div class="container">

        <!-- .row -->
        <div class="row row-counter">

            <div class="col-sm-3"> <!-- 1 -->
                <div class="affa_counter_text">
                    <h4>1256</h4>
                    <p>Visits</p>
                </div>
            </div>

            <div class="col-sm-3"> <!-- 2 -->
                <div class="affa_counter_text">
                    <h4>320</h4>
                    <p>Downloads</p>
                </div>
            </div>

            <div class="col-sm-3"> <!-- 3 -->
                <div class="affa_counter_text">
                    <h4>428</h4>
                    <p>Members</p>
                </div>
            </div>

            <div class="col-sm-3"> <!-- 4 -->
                <div class="affa_counter_text">
                    <h4>24</h4>
                    <p>Products</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</div>
<!-- #counter end -->

<!-- #pricing -->
<div id="pricing" class="wrap-container6020">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
          <h2>Plans and Pricing</h2>
            <p>Honest pricing. No surprises. No credit card required</p>
        </div>

        <div class="tbl-pricing tbl-prc-recommended">
          <div class="row">
              <div class="col-sm-4"> <!-- 1 -->
                    <div class="tbl-prc-col">
                        <h4 class="tbl-prc-heading">Standard</h4>
                        <div class="tbl-prc-price">
                            <h5>$24</h5>
                            <p>per month</p>
                        </div>
                        <ul class="tbl-prc-list">
                            <li>Amazing bonus</li>
                            <li>Another amazing bonus</li>
                            <li>Amazing bonus</li>
                            <li>Another amazing bonus</li>
                            <li>Amazing bonus</li>
                            <li>Another amazing bonus</li>
                        </ul>
                        <div class="tbl-prc-footer">
                            <a href="#" class="btn-custom btn-small">Sign Up Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 2 -->
                  <div class="tbl-prc-col tbl-prc-col-recommended">
                      <h4 class="tbl-prc-heading">Professional<i>most popular</i></h4>
                        <div class="tbl-prc-price">
                            <h5>$49</h5>
                            <p>per month</p>
                        </div>
                        <ul class="tbl-prc-list">
                            <li>Amazing bonus</li>
                            <li>Another amazing bonus</li>
                            <li>Amazing bonus</li>
                            <li>Another amazing bonus</li>
                            <li>Amazing bonus</li>
                            <li>Another amazing bonus</li>
                        </ul>
                        <div class="tbl-prc-footer">
                            <a href="#" class="btn-custom">Sign Up Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 3 -->
                  <div class="tbl-prc-col">
                      <h4 class="tbl-prc-heading">Enterprise</h4>
                        <div class="tbl-prc-price">
                            <h5>$99</h5>
                            <p>per month</p>
                        </div>
                        <ul class="tbl-prc-list">
                            <li>Amazing bonus</li>
                            <li>Another amazing bonus</li>
                            <li>Amazing bonus</li>
                            <li>Another amazing bonus</li>
                            <li>Amazing bonus</li>
                            <li>Another amazing bonus</li>
                        </ul>
                        <div class="tbl-prc-footer">
                            <a href="#" class="btn-custom btn-small">Sign Up Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- .container end -->

</div>
<!-- #pricing end -->

<!-- #buynow -->
<section id="buynow" class="bg-image wrap-container80 text-center">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center margin-bottom30">
          <h2>Interested?</h2>
        </div>
        <p class="margin-bottom50">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat.</p>
        <a href="#header" class="btn-custom btn-large btn-icon-first smooth-scroll"><i class="fa fa-download"></i> Get Instant Access</a>

    </div>
    <!-- .container end -->

</section>
<!-- #buynow -->

<!-- #testimonials -->
<section id="testimonials" class="wrap-container6020">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
          <h2>Don’t take our words</h2>
            <p>Some kind words from our awesome clients</p>
        </div>

        <!-- .row -->
        <div class="row">

            <div class="col-sm-4"> <!-- 1 -->
              <div class="affa_testimonial">
                  <div class="affa_testimonial_text">
                      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat."</p>
                    </div>
                    <div class="affa_testimonial_name">
                      <img src="/assets/content/avatar/1.jpg" alt="Avatar" />
                        <h4>Amah Holland</h4>
                        <p>Social Media Manager</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4"> <!-- 2 -->
              <div class="affa_testimonial">
                  <div class="affa_testimonial_text">
                      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat."</p>
                    </div>
                    <div class="affa_testimonial_name">
                      <img src="/assets/content/avatar/2.jpg" alt="Avatar" />
                        <h4>Natsu Dragnell</h4>
                        <p>Lead Designer</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4"> <!-- 3 -->
              <div class="affa_testimonial">
                  <div class="affa_testimonial_text">
                      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat."</p>
                    </div>
                    <div class="affa_testimonial_name">
                      <img src="/assets/content/avatar/3.jpg" alt="Avatar" />
                        <h4>Denden Mushi</h4>
                        <p>Mobile Developer</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</section>
<!-- #testimonials end -->

<!-- #bottom -->
<section id="bottom">

    <!-- .container -->
    <div class="container">

        <div class="sep-border"></div> <!-- separator -->

        <div class="post-heading-center no-border-bottom">
          <h2>Subscribe today for latest offers!</h2>
            <p>Enim ipsam voluptatem quia voluptas sit aspernatur fugit, consequuntur magni dolores eos patamon qui ratione sequi nesciunt. Quis consequatur quia voluptas sit aspernatur aut odit aut fugit justo sed mauris vel, lobortis tempor lorem.</p>
        </div>

        <form method="post" action="#" class="affa-form-subscribe">
            <input type="text" name="email" placeholder="Email address....">
            <input type="submit" name="submit" value="Subscribe">
        </form>

        <p class="text-desc">* We don’t share your personal info with anyone. Check out our <a href="#">Privacy Policy</a> for more information.</p>

    </div>
    <!-- .container end -->

</section>
<!-- #bottom end -->
