<!-- #header -->
<header id="header">

    <!-- #navigation -->
    <nav id="navigation" class="navbar">

        <!-- .container -->
        <div class="container">

            <div class="navbar-brand">
                <a href="index.html"><img src="/assets/pop-content-logo.png" alt="Logo" /></a> <!-- site logo -->
            </div>

            <ul class="nav navbar-nav">
                <li class="active"><a href="#header" class="smooth-scroll">Home</a></li>
                <li><a href="#e-book" class="smooth-scroll">E-book</a></li>
                <li><a href="#whats-app" class="smooth-scroll">Whats app</a></li>
                <li><a href="#features" class="smooth-scroll">Serviços</a></li>
                <li><a href="#">Blog</a></li>
            </ul>

        </div>
        <!-- .container end -->

    </nav>
    <!-- #navigation end -->

</header>
<!-- #header end -->
